<!-- index.html -->
<!DOCTYPE html>
<meta charset="UTF-8">
<meta http-equiv="refresh" content="30" />

<html>
<head>
    <title>Viacheslav Boiko - CV</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<div class="row">
    <div class="left"></div>
    <div class="main">
        <div class="header">
            <div class="header-main">
                <h1>VIACHESLAV BOIKO</h1>
                <h2>GOLANG DEVELOPER</h2>
            </div>
        </div>
        <div class="navbar">

        </div>
        <div class="content">
            <div class="survey">
                <img src="/img/values.png" alt="Values Images" width="100%" margin-top="10%">
                <h4>Опрос 1</h4>
                Описание исследования для опроса. Длинный текст. Очень длинный текст. Бывают короткие, бывают не очень короткие, даже длинные бывают. Но этот - король длинных текстов
            </div>
            <div class="survey">
                <img src="/img/values.png" alt="Values Images" width="100%" margin-top="10%">
                <h4>Опрос 2 - с длинным заголовком. Прям длинным</h4>
                Описание исследования для опроса
            </div>
            <div class="survey">
                <img src="/img/values.png" alt="Values Images" width="100%">
                <h4>Опрос 3</h4>
                Описание исследования для опроса
            </div>
            <div class="survey">
                <img src="/img/values.png" alt="Values Images" width="100%">
                <h4>Опрос 4</h4>
                Описание исследования для опроса
            </div>
            <div class="survey">
                <img src="/img/values.png" alt="Values Images" width="100%">
                <h4>Опрос 5</h4>
                Описание исследования для опроса
            </div>
            <div class="survey">
                <img src="/img/values.png" alt="Values Images" width="100%">
                <h4>Опрос 6</h4>
                Описание исследования для опроса
            </div>

        </div>
    </div>
    <div class="right"></div>
</div>
